



  <!-- TOVAR MODAL CONTENT -->
  <div id="modal-body" class="clearfix">
    <div id="tovar_content"></div>
    <div class="close_block"></div>
  </div><!-- TOVAR MODAL CONTENT -->
  <div class="preloader_hide">
    
      <!-- PAGE -->
      <div id="page">
      
        
        
        
        <!-- BREADCRUMBS -->
        <section class="breadcrumb parallax margbot30"></section>
        <!-- //BREADCRUMBS -->
        
        
        <!-- TOVAR DETAILS -->
        <section class="tovar_details padbot70">
          
          <!-- CONTAINER -->
          <div class="container">
            
            <!-- ROW -->
            <div class="row">
              
      
              
              <!-- TOVAR DETAILS WRAPPER -->
              <div class="col-lg-9 col-md-9 tovar_details_wrapper clearfix">
                <div class="tovar_details_header clearfix margbot35">
                  <h3 class="pull-left"><b>Sweaters</b></h3>
                  
                  <div class="tovar_details_pagination pull-right">
                    <a class="fa fa-angle-left" href="javascript:void(0);" ></a>
                    <span>2 of 34</span>
                    <a class="fa fa-angle-right" href="javascript:void(0);" ></a>
                  </div>
                </div>
                
                <!-- CLEARFIX -->
                <div class="clearfix padbot40">
                  <div class="tovar_view_fotos clearfix">
                    <div id="slider2" class="flexslider">
                      <ul class="slides">
                        <li><a href="javascript:void(0);" ><img src="/assets/images/articles/{{lodging.img}}"  alt="" /></a></li>
                           </ul>
                    </div>
                    <div id="carousel2" class="flexslider">
                      <ul class="slides">
                        <li><a href="javascript:void(0);" ><img src="/assets/images/articles/{{lodging.img}}"  alt="" /></a></li>
                     </ul>
                    </div>
                  </div>
                  
                  <div class="tovar_view_description">
                    <div class="tovar_view_title">{{lodging.label}}</div>
                    <div class="tovar_article">{{ lodging.startDate|date:'dd MMM' }} to {{ lodging.endDate|date:'dd MMM' }}</div> 
                    <div class="clearfix tovar_brend_price">
                      <div class="pull-left tovar_brend">{{lodging.typ}}</div>
                      <div class="pull-right tovar_view_price">night price ${{ lodging.price }}</div>
                    </div>
         
               
                    <div class="tovar_view_btn">
                      <select class="basic">
                        <option value="">QTY</option>
                        <option>Lo</option>
                        <option>Ips</option>
                        <option>Dol</option>
                        <option>Sit</option>
                        <option>Amet</option>
                      </select>
                      <a class="add_bag" href="javascript:void(0);" ><i class="fa fa-shopping-cart"></i>Add to bag</a>
                      <a class="add_lovelist" href="javascript:void(0);" ><i class="fa fa-heart"></i></a>
                    </div>
                
                  </div>
                </div><!-- //CLEARFIX -->
                
                <!-- TOVAR INFORMATION -->
                <div class="tovar_information">
                  <ul class="tabs clearfix">
                    <li class="current">Details</li>
             
                    <li>Reviews </li>
                  </ul>
                  <div class="box visible">
                    <p>{{lodging.description}}</p> </div>
          
                  <div class="box">
                    <ul class="comments">
                      <li>
                        <div class="clearfix">
                          <p class="pull-left"><strong><a href="javascript:void(0);" >John Doe</a></strong></p>
                          <span class="date">2013-10-09 09:23</span>
                          <div class="pull-right rating-box clearfix">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                          </div>
                        </div>
                        <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque.</p>
                      </li>
                      <li>
                        <div class="clearfix">
                          <p class="pull-left"><strong><a href="javascript:void(0);" >John Doe</a></strong></p>
                          <span class="date">2013-10-09 09:23</span>
                          <div class="pull-right rating-box clearfix">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                        </div>
                        <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque.</p>
                        
                        <ul>
                          <li>
                            <p><strong><a href="javascript:void(0);" >Jane Doe</a></strong></p>
                            <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque.</p>
                          </li>
                        </ul>
                      </li>
                    </ul>
                    
                    <h3>WRITE A REVIEW</h3>
                    <p>Now please write a (short) review....(min. 200, max. 2000 characters)</p>
                    <div class="clearfix">
                      <textarea id="review-textarea"></textarea>
                      <label class="pull-left rating-box-label">Your Rate:</label>
                      <div class="pull-left rating-box clearfix">
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                      </div>
                      <input type="submit" class="dark-blue big" value="Submit a review">
                    </div>
                  </div>
                </div><!-- //TOVAR INFORMATION -->
              </div><!-- //TOVAR DETAILS WRAPPER -->
            </div><!-- //ROW -->
          </div><!-- //CONTAINER -->
        </section><!-- //TOVAR DETAILS -->
    
      </div><!-- //PAGE -->
    </div>
    
    <!-- TOVAR MODAL CONTENT -->
    <div id="modal-body" class="clearfix">
      <div id="tovar_content"></div>
      <div class="close_block"></div>
    </div><!-- TOVAR MODAL CONTENT -->