<a *ngFor="let new of newest" [routerLink]="['/events/show',new.id]">
  <li >
    <div class="tovar_item">
      <div class="tovar_img">
        <div class="tovar_img_wrapper">
          <img src="{{url}}resources/events/{{new.id}}/{{new.images[0].fileName}}" alt=""/>
        </div>

      </div>
      <div class="tovar_description clearfix">
        <a class="tovar_title">{{new.name}}</a>
        <span class="tovar_price">{{new.start|date:'dd MMM' }}</span>
      </div>
    </div>
  </li><!-- //TOVAR1 -->
</a>
