<header>

    <!-- TOP INFO -->
    <div class="top_info">

      <!-- CONTAINER -->
      <div  class="container clearfix">
        <ul *ngIf="parent.currentUser === null" class="secondary_menu">

          <li><a routerLink="/login" >login</a></li>
          <li><a routerLink="/register" >Register</a></li>
        </ul>


        <div *ngIf="parent.currentUser !== null" class="live_chat"><a routerLink="/logout" ><i class="fa fa-sign-out"></i> Logout</a></div>

       <div *ngIf="parent.currentUser !== null" class="phone_top">Hello <a routerLink="/profile" class="username"> {{parent.currentUser.login}}</a></div>
      </div><!-- //CONTAINER -->
    </div><!-- TOP INFO -->


    <!-- MENU BLOCK -->
    <div class="menu_block">

      <!-- CONTAINER -->
      <div class="container clearfix">

        <!-- LOGO -->
        <div class="logo">
          <a routerLink="/home" ><img src="assets/images/skilogo.png" style="max-width: 170%"  alt="" /></a>
        </div><!-- //LOGO -->


        <!-- SEARCH FORM -->
        <div class="top_search_form">
          <a class="top_search_btn" href="javascript:void(0);" ><i class="fa fa-search"></i></a>
          <form method="get" action="#">
            <input type="text" name="search" value="Search" onFocus="if (this.value == 'Search') this.value = '';" onBlur="if (this.value == '') this.value = 'Search';" />
          </form>
        </div><!-- SEARCH FORM -->

        <!-- MENU -->
        <ul  class="navmenu center">
          <li class="sub-menu first"  routerLinkActive="active"><a routerLink="/home" >Home</a>
            <!-- MEGA MENU -->

          </li>
          <li routerLinkActive="active"  class="sub-menu"><a routerLink="/events"  >Events</a>

          </li>
          <li routerLinkActive="active" class="sub-menu"><a routerLink="/jobOffers" >Job offers</a>
            <!-- MEGA MENU -->

          </li>

          <li routerLinkActive="active" *ngIf="parent.getCurrentUser() != null && parent.getCurrentUser().role == 'ROLE_AGENT'" class="sub-menu"><a href="javascript:void(0);" >Courses</a>
            <!-- MEGA MENU -->
            <ul class="mega_menu megamenu_col3 clearfix">
              <li class="col">
                <ol>
                  <li><a routerLink="courses" >Courses</a></li>
                  <li><a routerLink="mycourses" >My courses</a></li>


                </ol>
              </li>

            </ul><!-- //MEGA MENU -->
          </li>
          <li *ngIf="parent.getCurrentUser() == null || parent.getCurrentUser().role != 'ROLE_AGENT'" routerLinkActive="active" class="sub-menu"><a routerLink="/courses" >Courses</a>
            <!-- MEGA MENU -->

          </li>




        </ul><!-- //MENU -->
      </div><!-- //MENU BLOCK -->
    </div><!-- //CONTAINER -->
  </header><!-- //HEADER -->

