<section class="my_account parallax">
        
<!-- CONTAINER -->
<div class="container">
            
    <div class="my_account_block clearfix">
        <div class="login">
            <h2>I'M ALREADY REGISTERED</h2>
            <div *ngIf="loginResponse !== undefined && loginResponse.code !=0"class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <strong>Authentication problem</strong> {{loginResponse.message}}
                </div>
            <form class="login_form" #form="ngForm" (ngSubmit)="login(form.value)">
                <input required ngModel type="text" name="login" value="Username or email" onFocus="if (this.value == 'Username or email') this.value = '';" onBlur="if (this.value == '') this.value = 'Username or email';" />
                <input required ngModel placeholder="Password" class="last" type="password" name="password" value="" onFocus="if (this.value == 'Password') this.value = '';" onBlur="if (this.value == '') this.value = 'Password';" />
                <div class="clearfix">
                  
                    <div class="pull-right"><a class="forgot_pass" href="javascript:void(0);" >Forgot password?</a></div>
                </div>
                <div class="center"><input [disabled] ="form.invalid"type="submit" value="Login"></div>
            </form>
        </div>
       
    </div>
            
    <div class="my_account_note center">HAVE A QUESTION? <b>1 800 888 02828</b></div>
</div><!-- //CONTAINER -->