<!-- BREADCRUMBS -->
<section class="breadcrumb parallax margbot30"></section>
<!-- //BREADCRUMBS -->


<!-- PAGE HEADER -->
<section class="page_header">

  <!-- CONTAINER -->
  <div class="container border0 margbot0">
    <h3 class="pull-left"><b>Add Event</b></h3>

    <div class="pull-right">
      <a href="shopping-bag.html" >Back shopping bag<i class="fa fa-angle-right"></i></a>
    </div>
  </div><!-- //CONTAINER -->
</section><!-- //PAGE HEADER -->


<!-- CHECKOUT PAGE -->
<section class="checkout_page">

  <!-- CONTAINER -->
  <div class="container">

    <!-- CHECKOUT BLOCK -->
    <div class="checkout_block">
      

      <form class="checkout_form clearfix" [formGroup]="form" (ngSubmit)="add(form.value)" >

            <div class="checkout_form_input2 adress "  >
              <label>Event name<span class="color_red">*</span></label>
              <input type="text" formControlName="name" name="name" value="" placeholder="" />
            </div>

            <div class="checkout_form_input2 last adress">
                <label>Max place <span class="color_red">*</span></label>
                <input type="text" formControlName="maxPlace" name="name" value="" placeholder="" />
            </div>

            <div class="checkout_form_input3">
                <label>Location<span class="color_red">*</span></label>
                <input type="text" formControlName="Location" name="name" value="" placeholder="" />
            </div>

            <div class="checkout_form_input2 adress">
                <label>Start<span class="color_red">*</span></label>
                <date-picker formControlName="Start" [showClearButton]="false"   name="date"></date-picker>              
              </div>
      
              <div class="checkout_form_input2 last adress">
                <label>End<span class="color_red">*</span></label>
                <date-picker formControlName="End" [showClearButton]="false"   name="date"></date-picker>
              </div>

              <div class="checkout_form_input2 adress">
                  <label>Public/Private <span class="color_red">*</span></label>
                  <select formControlName="statue" class="form-control">
                    <option value="0">Public</option>
                    <option value="1">Private</option>
                  </select>
              </div>

              <div class="checkout_form_input2 last adress">
                  <label>Image<span class="color_red">*</span></label>
                  <input formControlName="Image" type="text" name="name" value="" placeholder="" />
              </div>

              <hr class="clear">

            <div class="checkout_form_input3">
                <label>Description<span class="color_red">*</span></label>
                <input formControlName="description" type="textarea" name="name" value="" placeholder="" />
            </div>

        <div class="clear"></div>

        <div class="checkout_form_note">All fields marked with (<span class="color_red">*</span>) are required</div>

        <div class="center"><input class="btn" [ngClass]="{'disabled':!form.valid }" type="submit" value="Register"></div>
      </form>
    </div><!-- //CHECKOUT BLOCK -->
  </div><!-- //CONTAINER -->
</section><!-- //CHECKOUT PAGE -->
