





<!-- CHECKOUT PAGE -->
<section class="checkout_page" style="    padding-bottom: 10%;">

  <!-- CONTAINER -->
  <div class="container">

    <!-- CHECKOUT BLOCK -->
    <div class="checkout_block">
      

      <form class="checkout_form clearfix" [formGroup]="form" (ngSubmit)="add(form.value)" >

            <div class="checkout_form_input2 adress "  >
              <label>Event name<span class="color_red">*</span></label>
              <input type="text" formControlName="name" name="name" value="" placeholder="" [(ngModel)] ="event.name" />
            </div>

            <div class="checkout_form_input2 last adress">
                <label>Max place <span class="color_red">*</span></label>
                <input type="text" formControlName="maxPlace" name="name" value="" placeholder="" [(ngModel)]="event.maxPlace" />
            </div>

            <div class="checkout_form_input3">
                <label>Location<span class="color_red">*</span></label>
                <input type="text" formControlName="location" name="name" value="" placeholder="" [(ngModel)]="event.location" />
            </div>

            <div class="checkout_form_input2 adress">
                <label>Start<span class="color_red">*</span></label>
                <date-picker formControlName="start" [showClearButton]="false"   name="date" [(ngModel)]="event.start" ></date-picker>              
              </div>
      
              <div class="checkout_form_input2 last adress">
                <label>End<span class="color_red">*</span></label>
                <date-picker formControlName="end" [showClearButton]="false" [(ngModel)]="event.end"  name="date"></date-picker>
              </div>

              <div class="checkout_form_input2 adress">
                  <label>Public/Private <span class="color_red">*</span></label>
                  <select formControlName="statue" [(ngModel)]="event.statue" class="form-control">
                    <option value="0">Public</option>
                    <option value="1">Private</option>
                  </select>
              </div>

              <div class="checkout_form_input2 last adress">
                  <label>Image<span class="color_red">*</span></label>
                  <input formControlName="image" type="file" name="name" value="" placeholder="" [(ngModel)]="event.image" />
                  {{itemsAsObjects|json}}
                                  
              </div>

              <hr class="clear">

            <div class="checkout_form_input3">
                <label>Description<span class="color_red">*</span></label>
                <input formControlName="description" type="textarea" name="name" value="" placeholder="" [(ngModel)]="event.description" />
            </div>

        <div class="clear"></div>

        <div class="checkout_form_note">All fields marked with (<span class="color_red">*</span>) are required</div>

        <div class="center"><input class="btn" [ngClass]="{'disabled':!form.valid }" type="submit" value="Register"></div>
      </form>
    </div><!-- //CHECKOUT BLOCK -->
  </div><!-- //CONTAINER -->
</section><!-- //CHECKOUT PAGE -->
