<div *ngIf="selectedJobOffer == null" xmlns="http://www.w3.org/1999/html">



  <table  class="table type1">
    <tr style="background-color:lightblue; text-transform:uppercase">
      <th>Name</th>
      <th>Salary</th>
      <th>Creation Date</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Offer Category</th>
      <th>Number Of Places</th>
      <th>Description</th>
      <th>Action</th>
    </tr>


    <tr *ngFor="let offer of offers">

      <td>{{offer.name}}</td>
      <td>{{offer.salary}}</td>
      <td>{{offer.creationDate | date:'shortDate' }}</td>
      <td>{{offer.startDate | date:'shortDate' }}</td>
      <td>{{offer.endDate | date:'shortDate' }}</td>
      <td>{{offer.jobOfferCategory}}</td>
      <td>{{offer.numberOfPlaces}}</td>
      <td>{{offer.description}}</td>

      <td><a class="fa fa-pencil"  (click)="selectJobOffer(offer)">Update</a> <br> <a class="fa fa-trash-o">Delete</a> </td>

    </tr>

  </table>

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="panel-heading top-bar ">
            <div class="col-md-10 col-xs-10">
              <p class="panel-title"><span class="fa fa-envelope"></span> Message</p>
            </div>
            <div class="col-md-2 col-xs-2" style="text-align: right;">
            </div>
          </div>
        </div>
        <div class="panel-body msg_container_base">
          <br />

        </div>
      </div>








</div>


