<!-- FASHION WEEK -->
<section class="fashion_week parallax margbot50">

  <!-- CONTAINER -->
  <div class="container">
    <div class="fashion_week_description">
      <p><b>Skiing</b>the world</p>
      <span style="color:aliceblue">the best ski resorts worldwide, the best ski gear, how to's, and much more at SKI magazine</span>
    </div>
  </div><!-- //CONTAINER -->
</section><!-- FASHION WEEK -->


<!-- BEST PRODUCTS -->
<section class="best_products padbot60">

  <!-- CONTAINER -->
  <div class="container">
    <h2>See the five Newest Events</h2>

    <!-- JCAROUSEL -->
    <div class="jcarousel-wrapper">

      <!-- NAVIGATION -->
      <div class="jCarousel_pagination">
        <a href="javascript:void(0);" class="jcarousel-control-prev" ><i class="fa fa-angle-left"></i></a>
        <a href="javascript:void(0);" class="jcarousel-control-next" ><i class="fa fa-angle-right"></i></a>
      </div><!-- //NAVIGATION -->

      <div class="jcarousel" data-appear-top-offset='-100' data-animated='fadeInUp'>
        <ul>

          <!-- TOVAR1 -->
          <app-event-top5></app-event-top5>
          <!-- //TOVAR1 -->
        </ul>
      </div>
    </div><!-- //JCAROUSEL -->
  </div><!-- //CONTAINER -->
</section><!-- //BEST PRODUCTS -->

<app-hiering-top5></app-hiering-top5>



<!-- BANNER SECTION -->
<section class="banner_section padbot40">

  <!-- CONTAINER -->
  <div class="container" data-appear-top-offset='-100' data-animated='fadeInUp'>


  </div><!-- //CONTAINER -->
</section><!-- //BANNER SECTION -->

