<section class="my_account parallax">

  <!-- CONTAINER -->
  <div class="container">

    <div class="my_account_block clearfix">
      <div class="login">
        <h2>Create your new account now!</h2>


        <div *ngIf="response !== undefined && response.code !=0" class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <strong>Authentication problem</strong> {{response.message}}
        </div>

        <div *ngIf="response !== undefined &&  response.code ==0" class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <strong>Registration successful</strong> {{response.message}}
        </div>


        <form [formGroup]="form" class="login_form" (ngSubmit)="signUp(form.value)">
          <div class="form-group" [ngClass]="{'has-error':!form.controls['email'].valid && form.controls['email'].touched}">
            <label for="email" class="control-label">Email</label>

            <input  class="form-control" type="text" formControlName="email" id="email">
            <span *ngIf="!form.controls['email'].valid && form.controls['email'].touched" class="help-block">
              <div class="alert alert-danger">Valid email is required !</div>
              </span>

          </div>

          <div class="form-group" [ngClass]="{'has-error':!form.controls['login'].valid && form.controls['login'].touched}">
            <label for="login" class="control-label">Username</label>

            <input class="has-error" class="form-control" type="text" formControlName="login" id="login">
            <span *ngIf="!form.controls['login'].valid && form.controls['login'].touched" class="help-block">
              <div class="alert alert-danger">This field is required !</div>
              </span>

          </div>

          <div class="form-group" [ngClass]="{'has-error':!form.controls['firstName'].valid && form.controls['firstName'].touched}">
            <label for="firstName" class="control-label">First name</label>

            <input class="has-error" class="form-control" type="text" formControlName="firstName" id="firstName">
            <span *ngIf="!form.controls['firstName'].valid && form.controls['firstName'].touched" class="help-block">
              <div class="alert alert-danger">This field is required !</div>
              </span>

          </div>

          <div class="form-group" [ngClass]="{'has-error':!form.controls['lastName'].valid && form.controls['lastName'].touched}">
            <label for="lastName" class="control-label">Last name</label>

            <input class="has-error" class="form-control" type="text" formControlName="lastName" id="lastName">
            <span *ngIf="!form.controls['lastName'].valid && form.controls['lastName'].touched" class="help-block">
              <div class="alert alert-danger">This field is required !</div>
              </span>

          </div>

          <div class="form-group" [ngClass]="{'has-error':!form.controls['phoneNumber'].valid && form.controls['phoneNumber'].touched}">
          <label for="phoneNumber" class="control-label">Phone number</label>

          <input class="has-error" class="form-control" type="text" formControlName="phoneNumber" id="phoneNumber">
          <span *ngIf="!form.controls['phoneNumber'].valid && form.controls['phoneNumber'].touched" class="help-block">
              <div class="alert alert-danger">Valid phone number is required!</div>
              </span>

        </div>





          <div class="clearfix">

            <div class="pull-right"><a class="forgot_pass" routerLink="/login"> Already registered ? </a></div>
          </div>
          <div class="center"><input class="btn" [ngClass]="{'disabled':!form.valid}" type="submit" value="Register"></div>
        </form>
      </div>

    </div>

    <div class="my_account_note center" style="visibility: hidden">HAVE A QUESTION? <b>1 800 888 02828</b></div>
  </div><!-- //CONTAINER -->
